<header>
    <nav>
        <a href="/">EXPRESS SERVER</a>
        <ul>
            <li><a href="#formulario">Cargar</a></li>
            <li><a href="#productos">Ver</a></li>
            <li><a href="#chat">Chat</a></li>
        </ul>
    </nav>
</header>

<section class="formulario" id="formulario">
    <h2>CARGAR PRODUCTO</h2>
    <form class="formulario__form">
        <label>Título: <input type="text" name="title" required id="form__title" maxLength={100} pattern="^[\w'\-,.][^0-9_!¡?÷?¿/\\+=@#$%ˆ&*(){}|~<>;:[\]]{2,}$" title="Ingresar título"></label>
        <label>Precio: <input type="text" name="price" required id="form__price" pattern="[0-9]{1,10}" maxLength={10} title="Ingresar precio"></label>
        <label>Imagen - URL: <input type="text" name="thumbnail" id="form__imgUrl" title="Ingresar url de imagen"></label>
        <button>Enviar</button>
    </form>
</section>

<section class="productos" id="productos">
    <h2>VER PRODUCTOS</h2>
    <% if (productos){ %>
        <table class="productos__table">
            <tr>
                <th>TITULO</th>
                <th>PORTADA</th>
                <th>PRECIO</th>
            </tr>

            <% productos.forEach(item=>{%>
                <tr>
                    <td>
                        <%=item.title%>
                    </td>
                    <td><img alt="item img" src="<%=item.imgUrl%>" /></td>
                    <td>$<%=item.price%> USD</td>
                </tr>
                <% }) %>
        </table>
        <% } else {%>
            <p>No hay productos cargados.</p>
            <% } %>
</section>

<section class="chat" id="chat">
    <h2>CHAT</h2>
    <form class="chat__container">
        <fieldset>
            <legend>USER</legend>
            <input class="chat__container__nombre" type="email" name="nombre" id="chatNombre"
                placeholder="Ingresar e-mail..." required autocomplete="off" maxlength="320" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" title="Ingresar e-mail">
            <label class="chat__container__nombre--label" for="chatNombre">Nombre:</label>
        </fieldset>
        <div class="chat__container__mensajesBox">
            <div class="chat__container__mensajes">
                <%if(mensajes){%>
                    <% mensajes.forEach(mensaje=>{%> 
                        <div>
                            <span class="chat__container__mensajes__nombre"><%=mensaje.nombre%></span><span class="chat__container__mensajes__fecha"> <%=mensaje.fecha%>: </span><span class="chat__container__mensajes__mensaje"><%=mensaje.mensaje%></span>
                        </div>
                        <% })  %> 
                    <% } %>
            </div>
        </div>
        <div class="chat__container__envio">
            <input class="chat__container__mensaje" type="text" name="nombre" id="chatNombre"
                placeholder="Escribir mensaje..." required autocomplete="off" maxlength="500" title="Escribir mensaje">
            <button type="submit">Enviar</button>
        </div>
    </form>
</section>

<footer>
    <p>footer</p>
</footer>