<% if (user){ %>
    <header>
        <nav>
            <a href="/" class="header__title">EXPRESS SERVER</a>
            <ul>
                <li><a href="#formulario">Cargar</a></li>
                <li><a href="#productos">Ver</a></li>
                <li><a href="#chat">Chat</a></li>
                <li><a href="/" class="logout">Salir</a></li>
            </ul>
        </nav>
        <div class="header__salute"></div>
    </header>
    <button class="info__modal__open">INFO</button>
    <dialog class='info__modal'>
        <div class="info__modal__text"></div>
        <button class="info__modal__close">X</button>
    </dialog>
    <section class="formulario" id="formulario">
        <h2>CARGAR PRODUCTO</h2>
        <form class="formulario__form">
            <label>Título: <input type="text" name="title" required id="form__title" maxLength={50}
                    title="Ingresar título"></label>
            <label>Precio: <input type="text" name="price" required id="form__price" pattern="[0-9]{1,10}"
                    maxLength={10} title="Ingresar precio"></label>
            <label>Imagen - URL: <input type="text" name="thumbnail" id="form__imgUrl"
                    title="Ingresar url de imagen"></label>
            <button>Enviar</button>
        </form>
    </section>

    <section class="productos" id="productos">
        <h2>VER PRODUCTOS</h2>
        <% if (productos.length>0){ %>
            <table class="productos__table">
                <tr>
                    <th>TITULO</th>
                    <th>PORTADA</th>
                    <th>PRECIO</th>
                </tr>

                <% productos.forEach(item=>{%>
                    <tr>
                        <td>
                            <%=item.title%>
                        </td>
                        <td><img alt="item img" src="<%=item.imgUrl%>" /></td>
                        <td>$<%=item.price%> USD</td>
                    </tr>
                    <% }) %>
            </table>
            <p class="productos__noProd d-none">No hay productos cargados.</p>
            <% } else {%>
                <table class="productos__table d-none">
                    <tr>
                        <th>TITULO</th>
                        <th>PORTADA</th>
                        <th>PRECIO</th>
                    </tr>

                    <% productos.forEach(item=>{%>
                        <tr>
                            <td>
                                <%=item.title%>
                            </td>
                            <td><img alt="item img" src="<%=item.imgUrl%>" /></td>
                            <td>$<%=item.price%> USD</td>
                        </tr>
                        <% }) %>
                </table>
                <p class="productos__noProd">No hay productos cargados.</p>
                <% } %>
    </section>

    <section class="chat" id="chat">
        <h2>CHAT</h2>
        <form class="chat__container">
            <fieldset>
                <legend>USER</legend>
                <input class="chat__container__nombre" type="email" name="nombre" id="chatNombre"
                    placeholder="Ingresar e-mail..." required maxlength="320" pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
                    title="Ingresar e-mail" value=<%=user.email%> >
                <label class="chat__container__nombre--label" for="chatNombre">Nombre:</label>
            </fieldset>
            <div class="chat__optimization">Porcentaje de optimización: </div>
            <div class="chat__container__mensajesBox">
                <div class="chat__container__mensajes">
                    <%if(mensajes){%>
                        <% mensajes.forEach(mensaje=>{%>
                            <div>
                                <span class="chat__container__mensajes__nombre">
                                    <%=mensaje.author.email%>
                                </span>
                                <span class="chat__container__mensajes__fecha">
                                    <%=new Date(mensaje.createdAt).toLocaleString()%>:
                                </span>
                                <span class="chat__container__mensajes__mensaje">
                                    <%=mensaje.text%>
                                </span>
                            </div>
                            <% }) %>
                                <% } %>
                </div>
            </div>
            <div class="chat__container__envio">
                <input class="chat__container__mensaje" type="text" name="nombre" id="chatNombre"
                    placeholder="Escribir mensaje..." required autocomplete="off" maxlength="500"
                    title="Escribir mensaje">
                <button type="submit">Enviar</button>
            </div>
        </form>
    </section>
    <% } else {%>
        <header>
            <nav>
                <a href="/" class="header__title">EXPRESS SERVER</a>
                <ul>
                    <li><button type="submit" form="login__form">Entrar</a></li>
                </ul>
            </nav>
            <div class="header__salute"></div>
        </header>
        <section class="login">
            <h2>LOG-IN</h2>
            <form class="login__form" id="login__form">
                <input type="email" class="login__input login__inputEmail" required placeholder="EMAIL" maxlength="320" pattern="[^@\s]+@[^@\s]+\.[^@\s]+">
                <input type="password" class="login__input login__inputPassword" required placeholder="PASSWORD">
                <button class="login__send" type="submit">INGRESAR</button>
                <div class="login__error">&nbsp;</div>
                <button class="register__btn" type="button">Registrarse</button>
            </form>
            <dialog class='register__modal'>
                <form class="register__modal__form">
                    <input type="text" class="register__input" id="userReg" required placeholder="USER" name="user">
                    <input type="email" class="register__input" id="emailReg" required placeholder="EMAIL" name="email" maxlength="320" pattern="[^@\s]+@[^@\s]+\.[^@\s]+">
                    <input type="password" class="register__input" id="passwordReg" required placeholder="PASSWORD"
                        name="password">
                    <button class="register__modal__form__send" type="submit">REGISTRARSE</button>
                    <div class="register__error">&nbsp;</div>
                </form>
                <div class="register__success"></div>
                <button class="register__modal__close">X</button>
            </dialog>
        </section>
        <% } %>

            <footer>
                <p>footer</p>
            </footer>